<div class="footer">
	<div class="row">
	<div class="col-sm-6">
	<p><small>adelaidegrimaud 2017</small></p>
	</div>
	<div class="col-sm-1">
		<p><a href="https://github.com/Rhindel" title="Github">
			<i class='fa fa-github' aria-hidden="true"></i>
		</a></p>
	</div>
	<div class="col-sm-1">
		<p><a href="https://www.linkedin.com/in/ad%C3%A9la%C3%AFde-grimaud-275835131/" title="LinkedIn">
			<i class='fa fa-linkedin' aria-hidden="true"></i>
		</a></p>
	</div>
	<div class="col-sm-4">
	<p class="pull-right"><small><a href="/about" title="About this site">About this site</a></small></p>
	</div>
	</div>
</div> <!-- /footer -->
