<div class="header" id="header">
	<h2 class="text-muted"><a href="/">Adélaïde Grimaud</a></h2>

	<ul class="nav select-pills center-pills">

		{% if page.url == "/" or page.url == "/#projects" %}
			<li class="home active"><a href="/" title="Home">Projects</a></li>
		{% else %}
			<li class="home"><a href="/" title="Home">Projects</a></li>
		{% endif %}

		<li class="{{ page.influences }}"><a href="/influences" title="Influences">Influences</a></li>
		<li class="{{ page.playground }}"><a href="/playground" title="Travels">Playground</a></li>
		<li><a href="/files/CV_A_Grimaud.pdf" target="_blank" title="Download CV as PDF">CV</a></li>

	</ul>
</div>
<!-- /header -->