<div class="header" id="header">
	<h3 class="text-muted"><a href="/">Adélaïde Grimaud</a></h3>
	<ul class="nav nav-pills center-pills">
		<li><a href="/" title="Home">Home</a></li>
		<li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li>
		<li class="{{ page.influences }}"><a href="/influences" title="Influences">Influences</a></li>
		<!--<li class="{{ page.travels }}"><a href="/influences" title="Travels">Travels</a></li>-->
		<li><a href="/files/CV_A_Grimaud.pdf" target="_blank" title="Download CV as PDF">Download CV</a></li>
	</ul>
</div> <!-- /header -->
