<!-- javascript at the end of the doc so page loads faster -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/library.js"></script>
<script src="/js/stickyHeader.js"></script>
<!--<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>-->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script src="https://d3js.org/d3-drag.v1.min.js"></script>
<script type="text/javascript" src="/js/travelMap.js"></script>